<!DOCTYPE html>
<html>
<head>
  <link href="/static/style.css" rel="stylesheet">
</head>
<body>

<img class="center" src="https://user-images.githubusercontent.com/25312635/118586138-d4adf300-b7b7-11eb-9dcd-99b9cf9d4236.png" alt="Forest" width="300" height="200">

<!--
<p>Resize the browser window to see the effect. When the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other.</p>
-->

<div class="container">
  <form method='POST'>
  <div class="row">
    <div class="col-20">
      <label for="tweet">Tweet</label>
    </div>
    <div class="col-65">
      <input type="text" id="tweet" name="tweet" placeholder="Your tweet..">
  <div class="row">
    <div class="col-25">
      <label for="Sentiment">Sentiment</label>
    </div>
    <div class="col-25">
      <select id="Sentiment" name="Sentiment">
        <option value="positive">Positive</option>
        <option value="negative">Negative</option>
        <option value="neutral">Neutral</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-20">
    <input type="submit" value="Submit">
    </div>
  </div>
  </form>
</div>

{% if prediction %}
        <h1 class="col-100">"{{prediction}}"</h1>
{%endif%}

</body>
</html>
